
Intermediate/ReimportCache/3688439234.bin
*.ini
*.bin
*.ush
Saved/AutoScreenshot.png
*.log
*.json
Saved/Autosaves/Game/Character/Player2/Level2_Auto1.umap
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
Saved/Autosaves/Game/Character/Player1/red_Auto1.uasset
Saved/Autosaves/Game/Character/Player1/red_Auto2.uasset
Saved/Autosaves/Game/Character/Player2/BP_Jump_Auto1.uasset
Saved/Autosaves/Game/Character/Player2/BP_Jump_Auto2.uasset
Saved/Autosaves/Game/Character/Player2/BP_MoveUpDown_Auto1.uasset
Saved/Autosaves/Game/Character/Player2/BP_TouchDead_Move_Auto2.uasset
Saved/Autosaves/Game/Character/Player2/GalaxyMaterials/Resources/MaterialInstances/ForMeshes/MI_GalaxyMaterial_02_Auto1.uasset
Saved/Autosaves/Game/Character/Player2/Level2_Auto2.umap
Saved/Crashes/UECC-Windows-0234861E4E50063E8DE64E9B6958EEF3_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-0234861E4E50063E8DE64E9B6958EEF3_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-22CB06554C9F49C1A06679BAB955F172_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-22CB06554C9F49C1A06679BAB955F172_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-2A98FA094BE9100BCC1CF39775EA1035_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-2A98FA094BE9100BCC1CF39775EA1035_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-2A98FA094BE9100BCC1CF39775EA1035_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-2A98FA094BE9100BCC1CF39775EA1035_0001/UEMinidump.dmp
Saved/Crashes/UECC-Windows-2A98FA094BE9100BCC1CF39775EA1035_0002/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-2A98FA094BE9100BCC1CF39775EA1035_0002/Slate.txt
Saved/Crashes/UECC-Windows-2A98FA094BE9100BCC1CF39775EA1035_0002/UEMinidump.dmp
Saved/Crashes/UECC-Windows-42DA22E84A877C81C37C33B24BED638E_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-42DA22E84A877C81C37C33B24BED638E_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-42DA22E84A877C81C37C33B24BED638E_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-42DA22E84A877C81C37C33B24BED638E_0001/UEMinidump.dmp
Saved/Crashes/UECC-Windows-B372D9AA4A8D7EAF2F99AFA4F5435827_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-B372D9AA4A8D7EAF2F99AFA4F5435827_0000/UEMinidump.dmp
Saved/Autosaves/Game/Character/Player2/Character_Base_Child2_Auto1.uasset
Saved/Crashes/UECC-Windows-33B39F5D4AD43BF606E320BE76485231_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-33B39F5D4AD43BF606E320BE76485231_0000/UEMinidump.dmp
Saved/Crashes/UECC-Windows-33B39F5D4AD43BF606E320BE76485231_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-33B39F5D4AD43BF606E320BE76485231_0001/UEMinidump.dmp
Saved/Crashes/UECC-Windows-B333596C48774F097A1FF0BCF6B47F42_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-B333596C48774F097A1FF0BCF6B47F42_0000/UEMinidump.dmp
